.bg-cover-center {
    background: no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text-decoration-none {
    text-decoration: none;
}